#motto {
    margin-top: 50px;
}

#statistics {
    margin-top: 50px;
}

#service {
    margin-top: 50px;
}

#partners {
    margin-top: 50px;
}

#feedback {
    margin-top: 50px;
    margin-bottom: 50px;
}